// $max-width: 1200px;
// $bg-color: black;
// $second-bg-color: #323946;
// $text-color: #fff;
// $main-color: #0ef;

//#1e1f26 bg-color

$max-width: 1200px;
$bg-color: #000;
$second-bg-color: #3D0000;
$text-color: #707070;
$main-color: #FF0000;


// $max-width: 1200px;
// $bg-color: black;
// $second-bg-color: #3D0000;
// $text-color: #EDEDED;
// $main-color: #FF0000;